*{
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

img{
    width: 100%;
}
h1{
    text-align: center;
    color:white;
    background-color: black;
    padding: 20px;
    text-transform: uppercase;
}